/*  your css code here. If applicable */
body {
  background-color: #a56bdc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#buttons {
  display: flex;
  gap: 20px;
}

.btn, .stop {
  background-color: #5e2b97;
  color: white;
  border: none;
  padding: 15px 25px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
}

.btn:hover, .stop:hover {
  opacity: 0.8;
}
